@model IEnumerable<LanchoneteCore.Models.Pedido>

@{
    ViewData["Title"] = "Cozinha";
}

<h2>Pedidos realizados</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Statusp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorAtual)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Atendente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Statusp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorAtual)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Atendente.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PedidoID">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.PedidoID">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.PedidoID">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
