@model LanchoneteCore.Models.PedidoDetalhe

@{
    ViewData["Title"] = "Delete";
}

<h2>Excluir</h2>

<h3>Tem certeza que deseja excluir o pedido selecionado?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Quantidade)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Preco)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Preco)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Produto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Produto.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pedido)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pedido.PedidoID)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PedidoDetalheID" />
        <input type="submit" value="Excluir" class="btn btn-danger" /> |
        <a asp-action="Index">Retornar à lista</a>
    </form>
</div>
